.detail {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  padding: 32px;
  color: white;
}

.head {
  display: flex;
  gap: 20px;
  align-items: start;

  img {
    border-radius: 12px;
    min-width: 80px;
    background: black;
  }
}

.cast {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 16px;
    width: 260px;

    li {
      display: flex;
      gap: 12px;
      padding: 8px;

      img {
        object-fit: fill;
        border-radius: 8px;
        background: black;
      }
    }
  }
}

.screenshot {
  display: flex;
  gap: 16px;

  img {
    width: 33%;
    object-fit: cover;
    border-radius: 12px;
    background: black;
  }
}
